
body{
    padding: 0;
    margin: 0;
    background-image: url(img/back.jpg)
}
h1{
    padding: 0;
}
ol{
    padding: 0;
}
.headList{
    display: flex;
    justify-content: space-between;
}
.countTaskHolder{
    padding-top: 2vh;
    font-size: 2vh;
    color:rgb(236, 128, 158) ;/*цвет великолепного утра*/
   
}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
    max-width: 60vw;
    min-height: 55vh;
    border: 1px solid grey;
    padding: 0  5vh 5vw;
}
@media(max-device-width: 600px ){
.wrapper{
    margin-top: 5vh;
    max-width: 95vw;
    min-height: 90vh;
}
}
.paper {
    background: #fff;
    box-shadow:
      0 1px 1px rgba(0,0,0,0.5),
      0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0,0,0,0.55),
      0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0,0,0,0.7);
  }
  .title{
      color: rgb(107,156,200);
  }
  .add-task-panel{
      justify-content: left;
      display: flex;
      height: 3vh;
  }
  .text-holder{
    min-width: 40vw;
    border: 0.5px solid ;
    border-radius: 5px;
    border-color:rgba(107,156,200,0.6) ; 
    margin: 0 2vw;
  }
  .button{
      color: black;
      border-radius: 5px;
      border: none;
      background-color: rgba(107,156,200,0.6);    
  }
.task-check{
 
    align-self: flex-start;
    padding: 3vh 0;
    margin: 0 1.82vw;
}
.task-txt{
    max-width: 60vw;
    min-width: 37.35vw;
    border: none;
    margin-right: 6.5vw;
    align-self: flex-start;
    margin-right: 3vw;

}
.task-delete-button{
    border: none;
    
    position: absolute;
    right: 2vw;
    background-color: rgba(107,156,200,0.6);
    
}
.task-delete-button:hover{
    opacity: 1;
    border:0.1px solid  rgba(107,156,200,0.6);
    border-radius: 4px;
}
.task-edit-button{
    background-color:  rgba(107,156,200,0.6);
    border: none;
   
    
}
.task-edit-button:hover{
    opacity: 1;
    border:3px solid rgba(107,156,200,0.6);
    border-radius: 4px;
}
.done-task-decoration{
    text-decoration: line-through;
}

.bottom-button{
      position: absolute;
      bottom: 3vh;
      
  }
.list-decorate{
    padding: 0.5vh 0;
    list-style: none;
}
.all-task-done-alert{
    margin:0 10vw;
    color: rgb(236, 128, 158);
    
}
.pick-all-button{
    color: rgb(236, 128, 158);
    margin-top: 5vh;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    
    
}
.pick-all-button-active{
    opacity: 1;
}
.paginationMargin{
    margin-right:  5vw;
}
.paginationButton{
    font-size: 1vh;
    padding:0.5vh;
    border-radius: 5px;
    border: 1px solid rgb(236, 128, 158);
    background-color: rgba(107,156,200,0.6);
    
}
.paginationSpanStyle{
    
    
    color: rgb(236, 128, 158);
}

.activeButtonStyle{
    background-color: pink;
}