body{
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,167,61,1) 0%, rgba(0,212,255,1) 100%);
}
h1{
    padding: 0;

}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
    max-width: 50vw;
    min-height: 70vh;
    
}
.paper {
    background: #fff;
    box-shadow:
      0 1px 1px rgba(0,0,0,0.15),
  
      0 10px 0 -5px #eee,
      
      0 10px 1px -4px rgba(0,0,0,0.15),
     
      0 20px 0 -10px #eee,
    
      0 20px 1px -9px rgba(0,0,0,0.15);
      
 
  }
  .add-task-panel{
      justify-content: left;
      display: flex;
      align-self: center;
      height: 3vh;
     
  }
  .pick-all{
    
  }
  .text-holder{
      border: 0.5px solid ;
      border-radius: 5px;
      border-color:rgba(42,205,86,1) ; 
     margin-right: 4vw;
     
  }
  .button{
      border-radius: 5px;
      border: none;
      background-color: rgba(42,205,86,1);    
  }
  .bottom-button{
      position: absolute;
      bottom: 3vh;
  }
  